.App{
  text-align: center;
}
.row{
  height: 50px;
  width: 100%;
  text-align: center;
}

.allwrong{
  background: rgba(255,0,0,1);
}

.wrong{
  background: rgba(255,0,0,0.5);
}

.allcorrect{
  background: rgba(0,255,0,1);
}

.verycorrect{
  background: rgba(0,255,0,0.3);
}

.correct{
  background: rgba(0,255,0,0.1);
}

.nonactive{
  background: rgba(100,100,100,0.2);
}
.passed{
 background: rgba(100,100,100,0.5); 
}